html {
    background-image: url("./images/space-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


.login {
    display: block;
    position: absolute;
    top: 40%;
    left: 48%;
    transform: translate(-40%, -50%);
    
    background-color: rgba(248, 249, 250, 1);
    box-shadow: 1rem 1.5rem rgba(33, 37, 41, 0.8);
    border-radius: 1%;
    padding: 5% 5%;
}

.text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    color: #212529;
}

.usernameDiv, .passwordDiv, .buttonDiv{
    display: block;
    margin: 1.5rem 0;
}

input {
    font-size: 1.5rem;
    display: block;
    margin: 0.7rem 0;
    padding: 0.3rem;
    width: 20rem;
    border-radius: 1%;
    border-color: rgba(233, 236, 239, 0.5);
    background-color: rgb(250, 255, 255);
}

button {
    font-size: 1.5rem;
    display: block;
    margin: 2rem 0;
    padding: 1%;
    width: 10rem;
    border-radius: 0.5rem;
    border-color: rgba(233, 236, 239, 0.5);
    background-color: rgb(173, 170, 189);
    color: rgba(248, 249, 250, 1);
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgba(173, 180, 189);
    cursor: pointer;
}
